<div class="pagination">
    <ul class="pagination">
        <% if (page.prev || page.next) { %>
            <% if (page.prev) { %>
                <li class="prev">
                    <a href="<%- config.root %><%- page.prev.path %>" class="alignleft prev">
                        <i class="fa fa-arrow-circle-o-left"></i><%= __("pagePrev") %>
                    </a>
                </li>
            <% } else { %>
                <li class="prev disabled">
                    <a>
                        <i class="fa fa-arrow-circle-o-left"></i><%= __("pagePrev") %>
                    </a>
                </li>
            <% } %>

            <li>
                <a href="<%- config.root %><%- theme.contents.menu[0].url %>">
                    <i class="fa fa-archive"></i><%= __("pageArchive") %>
                </a>
            </li>

            <% if (page.next) { %>
                <li class="next">
                    <a href="<%- config.root %><%- page.next.path %>" class="alignright next"><%= __("pageNext") %><i class="fa fa-arrow-circle-o-right"></i></a>
                </li>
            <% } else { %>
                <li class="next disabled">
                    <a><%= __("pageNext") %><i class="fa fa-arrow-circle-o-right"></i></a>
                </li>
            <% } %>
        <% } %>
    </ul>
</div>
