<p>
    <span id="busuanzi_container_site_uv">
        <i class="fa fa-user"></i>
        <span>本站总访客数:</span>
        <span id="busuanzi_value_site_uv">
            <i class="fa fa-spinner fa-spin"></i>
        </span>人&nbsp;
    </span>

    <span id="busuanzi_container_site_pv">
        <i class="fa fa-flag"></i>
        <span>本站总访问量:</span>
        <span id="busuanzi_value_site_pv">
            <i class="fa fa-spinner fa-spin"></i>
        </span>次&nbsp;
    </span>

    <i class="fa fa-file-word-o"></i>
    <span>文章总字数:</span>
    <span class="post-count"><%= totalcount(site) %></span>字

    <br>

    <% if (config.author) { %>
        &copy; <%= new Date().getFullYear() %> <%= config.author %>
    <% } else { %>
        &copy; <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>

    with help from <a href="http://hexo.io/" target="_blank">Hexo</a> and <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>. Theme by <a href="http://github.com/wzpan/hexo-theme-freemind/">Freemind</a>. About by <a href="http://github.com/PytLab/hexo-theme-freemind/">PytLab</a>.
</p>
